@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/*- ------------- About COMPONENT ----------------- */

.aboutbox {
    min-height: calc(100vh - 120px); 

}

.aboutheading {
    font-family: poppins;
    text-align: center;
    font-size: 18px; 
    color: white; 
    background-color: #282828;
    padding-top: 10px; 
    padding-bottom: 10px; 

}

.aboutinfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1762A7;
    color: BLACK; 
    

}

 .aboutimage {
    display: flex;
    justify-content: center;
}
.aboutimagefr {
    width: 680px; 
    margin-top: 40px; 

}

.aboutdesc {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 760px;
    justify-content: center;
}

.abouttitle  {
    font-family: poppins;
    font-size: 35px; 
}
.aboutdescription {
    font-family: Roboto;
    font-size: 23px; 
}

.aboutfinal {
    font-family: poppins;
}