@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
  margin: 0px; 
}


/*- ------------- NAVBAR COMPONENT ----------------- */

/* nav bar flex */
.Navbar {
  font-family: Poppins;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 40px; 
  align-items: center;
  border-bottom: 2px solid black;

}

.Navbar .left-header {
  display: flex; 
  align-items: center;
  gap: 8px;
}

.Navbar .left-header .nlogo {
  width: 28px; 
  height: 40px;
}

.Navbar .links {
  display: flex;
  gap: 12px;
  
}

a {
  text-decoration: none;
  color: black;
}


/*- ------------- HOME COMPONENT ----------------- */
.home {
  background: white url("./assets/images/backfilter.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  }

/* display between headphones and left header  */
  .home .home-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 150px 100px 150px ;
    gap: 50px;
  }

  /* coloum of left header  */
  .home .home-container .heading-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
  }
  
  /* listen explore empower */
  .home .home-container .bigwords {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 82px

}

.shortdesc {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
}

.home .headphone {
  width: 600px;
  height: 600px;
}

.home .subscribe .youtube {
  width: 40px; 
  height: 37px;
}

/*- Button-- */
.subscribe {
  max-width: 200px;
  max-height: 59px;
  background-color: #1762A7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: 1px solid white;
  font-family: Poppins;
  font-size: 15px;
  padding-right: 10px;
}

.subscribe:hover {
  outline: 4px solid #1762A7;
}

.headphones {
  display: flex;
}

/*- ------------- Artists COMPONENT ----------------- */
/*- Entire blue -- */
.artcontainer {
  background-color: #1762A7;
  padding-bottom: 50px;

}

/*- White underlined title -- */
.arttitle {
  text-align: center;
  padding-top: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

/*- reiterate of people -- */
.names {
  
  display: flex;
  justify-content: space-evenly;
  max-width: 1920px;
  padding-top: 30px; 
  padding-bottom: 20px;

}

/*- artist image -- */
.names .artistpreview .artist-image {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 2);
}

.artistname  {


}

/*- reiterate of ppl frames black -- */
.names .artistpreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  width: 243px;
  height: 248px;
  background: #2B2B2B;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: white; 
  font-family: Poppins;

  border: 1px solid #1762A7;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 2);
 
}

/*- ------------- Data COMPONENT ----------------- */
/*- photo with data -- */
.bigdata {
  display: flex;
  justify-content: center;
  margin-left: 10px; 
  margin-top: 50px; 
  margin-bottom: 50px; 


  

}

/*- ------------- Footer COMPONENT ----------------- */
.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: #2B2B2B;
  color: white;
  padding: 17px 40px 17px 40px; 
}

.footer-right {
  display: flex;
  gap: 12px;
}

.iconimage {
  max-width: 34px;
  max-height: 20px;
}

.nasheedifyname, .footer-left {
  font-family: poppins;
  font-size: 13px 
}